@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

:root {
  --blue: #4481cb;

  --gradient-background: linear-gradient(179deg, #eef5ff 74%, #FFFFFF 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
  color: #686868;

  font-family: 'Outfit', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.section__padding {
  padding: 7rem 10rem;
}


.heading {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 64px;

  color: #2e3446;
}

@media screen and (max-width: 1440px) {
  .section__padding {
    padding: 6rem 4.5rem;
  }
}

@media screen and (max-width: 1250px) {
  .heading {
    font-size: 48px;
  }
  .section__padding {
    padding: 5rem 3rem;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) {
  .section__padding {
    padding: 1rem 0.4rem;
  }
}