.firstlook {
    background: var(--gradient-background);

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    height: fit-content;

    width: 100%;
    max-width: 2000px;
}

.firstlook__contents {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

}

.firstlook__contents h3 {
    font-weight: 300;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.firstlook__contents-inputs form {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    width: 100%;
}

.firstlook__contents-inputs input {
    font-size: 18px;
    width: 100%;
    height: fit-content;
    padding: 1rem 0;
    padding-left: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(75, 75, 255, 0.199);
}

.firstlook__contents-inputs input::placeholder {
    color: rgba(104, 104, 169, 0.416);
}

.firstlook__contents-inputs button {
    cursor: pointer;
    width: 500px;
    height: fit-content;
    font-size: 18px;
    padding: 1rem 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background: url('https://cdn.codechef.com/images/home/spark.svg');
    background-repeat: no-repeat;
    background-color: var(--blue);
    background-position: center;
    background-position-x: 20px;
    background-size: 10px;
    background-attachment: local;


    outline: none;
    border: none;

    color: #fff;
}

.firstlook__contents-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 25px;

    align-items: center;
    justify-content: center;
}

.firstlook__contents-buttons h4 {
    font-weight: 400;
    font-size: 14px;
}

.firstlook__contents-buttons button {
    padding: 0.6rem 1.5rem 0.6rem 1.8rem;
    margin-left: 15px;

    background-color: #ffffff;
    border: 1px solid rgba(49, 66, 85, 0.568);
    border-radius: 5px;

    cursor: pointer;
}

#googlebtn {
    background-image: url('https://cdn.codechef.com/images/home/google_logo.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position: left;
    background-position-x: 10px;
    background-attachment: local;
    background-size: 12px;
}

#gitbtn {
    background-image: url('https://cdn.codechef.com/images/home/gitHub_logo.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position: left;
    background-position-x: 10px;
    background-attachment: local;
    background-size: 12px;
}

#fbbtn {
    background-image: url('https://cdn.codechef.com/images/home/facebook_logo.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position: left;
    background-position-x: 10px;
    background-attachment: local;

    background-size: 12px;
}


.firstlook__image {
    width: fit-content;
    padding: 0 0 0 3rem;
    margin: 0 0 0 3rem;
}

@media screen and (max-width: 1440px) {
    .firstlook__contents-inputs button {
        font-size: 15px;
    }

    .firstlook__contents-inputs input {
        font-size: 15px;
        padding: 1rem 0.6rem;
    }
}

@media screen and (max-width: 1250px) {
    .firstlook__contents-buttons h4 {
        font-size: 12px;
    }
    .firstlook__contents-inputs form button {
        font-size: 13.5px;
    }

    .firstlook__contents-inputs form input {
        font-size: 13.5px;
    }
}

@media screen and (max-width: 960px) {
    .firstlook {
        flex-direction: column-reverse;
    }
    .firstlook__contents {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .firstlook__contents h1,
    .firstlook__contents h3 {
        width: 80%;
        margin-bottom: 10px;
    }

    .firstlook__contents-inputs {
        width: 80%;
        margin-top: 12px;
    }

    .firstlook__image {
        margin: 0;
        padding: 0;

        align-items: center;
        justify-content: center;

        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .firstlook__contents h3 {
        font-size: 20px;
    }
    
    .firstlook__contents-inputs input {
        padding: 0.8rem 0.5rem;
    }

    .firstlook__contents-inputs button {
        padding: 0.8rem 0;
    }

    .firstlook__contents-buttons button p {
        display: none;
    }

    .firstlook__contents-buttons button {
        padding: 1rem 1rem;
    }
}

@media screen and (max-width: 400px) {
    .firstlook__contents-inputs form {
        flex-direction: column;
    }
    .firstlook__contents-inputs button {
        width: fit-content;
        padding: 1rem 3rem;
        border-radius: 10px;
    }
    .firstlook__contents-inputs input {
        width: fit-content;
        padding: 1rem 1rem;
        border-radius: 10px;
    }
}

